
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F4F4F4;
}
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn-primary {
  @apply bg-[#C51518] hover:bg-[#A41215] text-white font-bold py-2 px-4 rounded;
}
